:root {
    --black-text: #000000;
    --black-light: #333333;
    --blue-light: #81B3D2;
    --blue_bright: #23A9E1;
    --blue-basic: #81B3D3;
    --blue-hover: #669EC0;
    --blue-focus: #5496BD;
    --grey-dark: #766458;
    --grey-button: #766357;
    --grey-light: #A9A9A9;
    --grey-wet: #666666;
    --grey-extra-light: #CACACA; 
    --grey-button-hover: #604E43;
    --grey-button-focus: #503E33; 
    --grey-footer-focus: #BDBBBC; 
    --grey-form: #F2F2F2;
    --white-blocks: #FFFFFF;
    --white-basic: #EEEEEE;
    --white-body: #F2F2F2;
    --white-focus: #E5E5E5;    
    --brown: #491213;
    --peach-dark: #DC6243;
    --peach-basic: #F49774;
    --peach-light: #F4B1A4;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page {
    height: 100%;
  }

.page-body {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black-text);
    text-transform: uppercase;
    background-color: var(--white-body);
    box-shadow: 0 0 30px -20px var(--black-light);
    

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}
  

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    position: relative;

    font-size: 14px;
    line-height: 26px;
    color: var(--black-text);
    background-color: var(--white-blocks);

    font-weight: bold;    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-navigation {
    list-style: none; 
    margin: 0;
    padding: 15px 73px;
    box-sizing: border-box;
    width: 1200px;

    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    transform: translatex(-50%)
}

.site-navigation-item:nth-child(1) {
    box-sizing: border-box;
    width: 200px;
}

.site-navigation-item:nth-child(2)  {
    box-sizing: border-box;
    width: 200px;
    margin-right: 170px;
}

.site-navigation-item:nth-child(3)  {
    box-sizing: border-box;
    width: 200px;
    text-align: end;
}

.site-navigation-item:nth-child(4)  {
    box-sizing: border-box;
    width: 200px;
    margin: 0;
    text-align: end;
}


.site-navigation a {
    color: var(--black-text);
}

.site-navigation a:hover {
    color: var(--blue-light);
}


.site-navigation a:focus {
    color: var(--black-text);  
    opacity: 0.3;
}



.greetings {
    line-height: 26px;
    box-sizing: border-box;
}


.greetings-picture {
    background-image:  url(../img/main-page-imgs/background-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 509px;
    width: 1200px;
}


.greetings-text {
    box-sizing: border-box;
    background-color: var(--white-blocks);
    margin: 0;
    padding: 0; 
    text-align: center;
}

.greetings-text p {
    padding: 0;
}

.welcome {
    font-size: 21px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

img.welcome-sedona {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 76px;
    padding-bottom: 216px;
}

.features {
    margin: 0;
}

.features-list {
    list-style: none;    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--white-basic);
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}

.feature-item-text {
    box-sizing: border-box;
    width: 400px;
    height: 256px;
    padding-top: 46px;
    justify-content: center;
    text-align: center;
}

.feature-special-1 {
    background-color: var(--blue-light);
    color:var(--white-blocks);
    box-sizing: border-box;

    grid-column: 1/-1;

    display: flex; 
    flex-wrap: wrap;
}

.feature-special-2 {
    background-color: var(--blue-light);
    color:var(--white-blocks);
    box-sizing: border-box;

    grid-column: 1/-1;

    display: flex; 
    flex-direction: row-reverse; 
    flex-wrap: nowrap;
}

.entertainments-list {
    box-sizing: border-box;
    list-style: none;
    background-color:var(--white-blocks);
    color:var(--black-text);
    margin: 0;
    padding: 0;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.entertainment-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}


.house {
    background-image: url(../img/icons-entertainments/home-icon.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
    box-sizing: border-box;
    width: 400px;
    padding: 160px 73px 86px;
    text-align: center;
}

.food {
    background-image: url(../img/icons-entertainments/food-icon.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
    box-sizing: border-box;
    width: 400px;
    padding: 160px 60px 86px;
    text-align: center;

}

.souvenirs {
    background-image: url(../img/icons-entertainments/present-icon.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
    box-sizing: border-box;
    width: 400px;
    padding: 160px 66px 86px;
    text-align: center;
}

.feature-item-text h3{
    box-sizing: border-box;
    text-align: center;
}

.true-town {
    box-sizing: border-box;
    padding: 48px 49px 60px;
    text-align: center;

}

.bridge {
    box-sizing: border-box;
    padding: 52px 50px 59px;
    text-align: center;

}

.square {
    box-sizing: border-box;
    padding: 50px 96px 60px;
    height: 256px;
    text-align: center;

}

.square p {
    box-sizing: border-box;
    margin-top: 33px;
    padding: 0;
    margin-bottom: 0;
    text-align: center;

}

.road {
    box-sizing: border-box;
    padding: 48px 68px 60px; 
    text-align: center;

}

.road p {
    box-sizing: border-box;
    margin-top: 34px;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.tourists {
    box-sizing: border-box;
    padding: 48px 76px 60px; 
    text-align: center;

}

.tourists p {
    box-sizing: border-box;
    margin-top: 34px;
    padding: 0;
    margin-bottom: 0;
    text-align: center;

}

.interested {
    margin-top: 0;
    padding-top: 56px;
    text-align: center;
}

.modal {
    color: var(--black-text);
    background-color: var(--white-blocks); 
    box-sizing: border-box; 

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.modal h2 {
    font-size: 30px;
    line-height: 24px;   
    box-sizing: border-box; 
    text-align: center;
}

.modal-descripion {
    text-align: center;
}

.modal-open {
    background-color: var(--grey-button);
    color: var(--white-blocks);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 136px;
    width: 568px;
}

.modal-submit {
    background-color: var(--blue-light);
    color: var(--white-blocks);
    box-sizing: border-box;
    text-align: center;
    padding: 20px 192px;
    width: 458px;
}

.button {
    font-size: 21px;
    line-height: 26px;
    box-shadow: none;
    border: none; 
    outline: none; 
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}

.modal-open:hover {
    color: var(--white-blocks);
    background-color: var(--blue-hover);
    box-sizing: border-box;
    text-align: center;
}

.modal-open:focus {
    color: var(--white-blocks);
    background-color: var(--blue-focus);
    box-sizing: border-box;
    text-align: center;
}

.modal-submit:hover {
    color: var(--white-blocks);
    background-color: var(--grey-button-hover);
    box-sizing: border-box;
    text-align: center;
}

.modal-submit:focus {
    color: var(--white-blocks);
    background-color: var(--grey-button-focus);
    box-sizing: border-box;
    text-align: center;
}

.form-background {
    background-color: var(--grey-form);
    box-sizing: border-box;
    border: none;
}

.form-date {
    box-sizing: border-box;
    width: 346px;
    height: 38px;
    padding-left: 10px;
}

.calendar-container {
    position: relative;
    box-sizing: border-box;
    width: 346px;
    margin: 0;
    padding: 0;
}

.calendar {
    position: absolute;
    border: none;
    right: 5px;
    top: 5px;
}

.form-people {
    box-sizing: border-box;
    width: 114px;
    height: 38px;
    text-align: center;
}

.less-more-container {
    position: relative;
    box-sizing: border-box;
    width: 114px;
    margin: 0;
    padding: 0;
}

.less {
    position: absolute;
    border: none;
    left: 10px;
    top: 8px;
}

.more {
    position: absolute;
    border: none;
    right: 10px;
    top: 12px;
}

.find-hotel-form {
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    width: 568px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    margin: o auto;
    text-align: center;
}

.main-footer {
    background-color: var(--white-blocks);
    color: var(--black-text);   
    box-sizing: border-box;
    text-align: center;
    padding: 26px, 73px;
    margin: 0;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-info {
    width: 327px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center top;
}

.footer-phone {
    box-sizing: border-box;
    text-align: center;
    color: var(--black-text)
}
 
.footer-phone:hover {
    color: var(--blue-light);
    box-sizing: border-box;
    text-align: center;
}

    

.footer-phone:focus {
    color: var(--grey-button); 
    box-sizing: border-box;
    text-align: center;
}
    

.footer-social {
    text-align: center;
    width: 400px;
    padding-left: 125px;
    padding-right: 125px;
    box-sizing: border-box;
}

.footer-social h2 {
    display: none;
}
  
.footer-social .social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}
   
  
.social-button {
    color:var(--white-blocks);
    background-color: var(--blue-light);
    box-sizing: border-box;
    
}
  
.social-button:hover {
    background-color: var(--blue-hover);
    box-sizing: border-box;
    
}

.social-button:focus {
    background-color: var(--blue-focus);
    box-sizing: border-box;
}

.twitter {
    display: block;
    box-sizing: border-box;
    width: 46px;
    height: 48px;
    padding-top: 17px ;
}

.facebook {
    display: block;
    box-sizing: border-box;
    width: 46px;
    height: 48px;
    padding-top: 13px;
}

.youtube {
    display: block;
    box-sizing: border-box;
    width: 46px;
    height: 48px;
    padding-top: 16px;
}

.social-button:hover {
    background-color: var(--blue-hover);
}

.social-button:focus {
    background-color: var(--blue-focus);
}

.social-button:focus path {
    opacity: 0.3;
}

.footer-copyright {
    box-sizing: border-box;
    width: 327px;
    font-size: 14px;
    line-height: 26px;
    color:var(--black-text);
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-copyright .button:hover {
    color:var(--blue-light);
    box-sizing: border-box;
    text-align: center;
}

.footer-copyright .button:focus {
    color:var(--grey-footer-focus);  
    box-sizing: border-box;
    text-align: center;
}

.social-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
    padding-right: 125px;
    padding-left: 125px;
    margin: 0;
    text-align: center;
}

.htmlacademy-logo:hover path {
    fill: var(--blue-light);
}

.htmlacademy-logo:active path {
    fill: var(--grey-footer-focus);
}

/* Форма оформление */

.find-hotel-item {
    box-sizing: border-box;
    padding-left: 55px;
    padding-right: 55px;

    display: flex;
    justify-content: space-between;
}

.find-hotel-item:first-child, .find-hotel-item:nth-child(2) {
    grid-column: 1/-1;
}

.find-hotel-item:nth-child(3) {
    grid-column: 1/2;
    padding-right: 0;
}

.find-hotel-item:nth-child(4) {
    grid-column: 2/-1;
}

.modal-submit {
    grid-column: 1/-1;
    justify-self: center;
}
/* Разметка каталога */

.catalog-body {
    width: 1200px;
}

.active-page a {
    color: var(--grey-button);
}

.catalog-center {
    width: 1200px;
}

.catalog-filter {
    background-color: var(--blue-hover);
    background-image: url(../img/catalog-imgs/background-fitler.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-blocks);
    padding: 27px 73px 32px 73px;
    box-sizing: border-box;
    width: 1200px;
}

.catalog-filter-name {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    box-sizing: border-box;
}

.catalog-filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    box-sizing: border-box;
}

.filter-list {
    box-sizing: border-box;
    padding-left: 73px;
}

.filter-column-3 {
    box-sizing: border-box;
    margin: 0;
    margin-left: auto;
    padding-right: 73px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.infrastructure-fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.infrastructure-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accommodation-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.accommodation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: start;
}

.catalog-filter-price {
    background-color: rgba(0,0,0,0);
    color: var(--white-blocks);
    box-sizing: border-box;
}
    
.catalog-filter-button {
    background-color: rgba(0,0,0,0);
    color: var(--white-blocks);
    box-sizing: border-box;
}


.catalog-filter-button:hover {
    background-color: var(--white-blocks);
    color: var(--black-text);
    box-sizing: border-box;
}

.catalog-results {
    background-color: var(--white-blocks);
    box-sizing: border-box;
    padding-top: 34px;
}

.sorting-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    box-sizing: border-box;
    padding: 0;
    vertical-align: text-top;
}

.sorting-grid h3 {
    box-sizing: border-box;
    width: 200px;
    margin-left: 73px;
    padding-right: 12px;
    margin-top: 0;
}


.results-sorting-list {
    list-style: none;
    padding: 0 0 0 40px;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
    width: 848px;

    display: flex;
    flex-wrap: wrap;
    vertical-align: text-top;
    justify-content: flex-start;
}

.sorting-item-end-down {
    text-align: end;
    margin-left: auto;
}

.sorting-item-end-up {
    text-align: end;
}


.results-container {
    box-sizing: border-box;
    padding-left: 35px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: text-top;
}

.results-sorting-name {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
    width: 75px;
    margin: 0;
    padding: 0;
}

.results-sorting-item {
    font-size: 12px;
    line-height: 12px;
    color: var(--black-text);
    opacity: 0.3;
    box-sizing: border-box;
    width: 100px;
}


.results-sorting-item:hover {
    color: var(--blue-light);
    box-sizing: border-box;
}

.results-sorting-item:focus {
    color:var(--grey-footer-focus);
    box-sizing: border-box;  
}

.results-sorting-item:active {
    color:var(--blue-light); 
    box-sizing: border-box; 
}

.results-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    flex-wrap: wrap;

}

.results-item {
    box-sizing: border-box;
    border-top: solid 1px var(--white-focus);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1200px;
}

.results-item:nth-child(3) {
    box-sizing: border-box;
    border-bottom: solid 1px var(--white-focus);
}

.result-name {
    font-size: 21px;
    line-height: 26px;
    color: var(--black-text);
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;

    grid-column: 1/-1;
}

.more-info-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--white-blocks);
    background-color: var(--blue-light);
    box-sizing: border-box;
    padding: 7px 17px;
}

.more-info-button:hover {
    background-color: var(--blue-hover);
    color: var(--white-blocks);
    box-sizing: border-box;
}

.more-info-button:focus {
    color: var(--white-blocks);
    background-color: var(--blue-focus);
    box-sizing: border-box;
}

.book-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--white-blocks);
    background-color: var(--grey-button);
    box-sizing: border-box;
    padding: 7px 17px;
    text-align: center;
}

.book-button:hover {
    color: var(--white-blocks);
    background-color: var(--grey-button-hover);
    box-sizing: border-box;
}

.book-button:focus {
    color: var(--white-blocks);
    background-color: var(--grey-button-focus);
    box-sizing: border-box;
}

.results-rating {
    box-sizing: border-box;
    width: 200px;
    align-items: flex-end;
    margin-top: auto;
}

.stars {
    font-size: 0;
    width: 94px;
    height: 17px;
    margin-left: auto;
    margin-right: 73px;
    margin-bottom: 47px;
    background-image: url(../img/icons-buttons/star.svg);
    background-repeat: repeat-x;
}

.stars-four {
    width: 75px;
}

.stars-three {
    width: 58px;
}

.stars-two {
    width: 38px;
}

.rating {
    box-sizing: border-box;
    background-color: var(--grey-form);
    box-sizing: border-box;
    text-align: center;
    width: 110px;
    margin-right: 73px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.amara-resort-spa {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.desert-quail-inn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.villas-at-poco-diablo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.results-img {
    box-sizing: border-box;
    width: 208px;
    justify-content: flex-start;
    padding-left: 73px;
}

.results-text {
    box-sizing: border-box;
    width: 792px;

    align-self: flex-start;
    margin-left: 20px;
    padding: 0;

    display: grid;
    grid-template-columns: 110px 142px;
    gap: 6px;
}

.results-text p {
    margin-top: 0;
    margin-bottom: 5px;
}

.result-name a {
    color: var(--black-text);
}

.result-name a:hover {
    color: var(--blue-focus);
}

.result-name a:active {
    color: var(--black-text);
    opacity: 0.3;
}