:root {
    --black-text: #000000;
    --black-light: #333333;
    --blue-light: #81B3D2;
    --blue_bright: #23A9E1;
    --blue-basic: #81B3D3;
    --blue-hover: #669EC0;
    --blue-focus: #5496BD;
    --grey-dark: #766458;
    --grey-button: #766357;
    --grey-light: #A9A9A9;
    --grey-wet: #666666;
    --grey-extra-light: #CACACA; 
    --grey-button-hover: #604E43;
    --grey-button-focus: #503E33; 
    --grey-footer-focus: #BDBBBC; 
    --grey-form: #F2F2F2;
    --white-blocks: #FFFFFF;
    --white-basic: #EEEEEE;
    --white-body: #F2F2F2;
    --white-focus: #E5E5E5;    
    --brown: #491213;
    --peach-dark: #DC6243;
    --peach-basic: #F49774;
    --peach-light: #F4B1A4;    
}

.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black-text);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white-body);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--black-text);
    background-color: var(--white-blocks);
    font-weight: bold;    
}

.site-navigation {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.site-navigation a {
    color: var(--black-text);
}

.site-navigation a:hover {
    color: var(--blue-light);
}


.site-navigation a:focus {
    color: var(--grey-button);        
}

.greetings {
    line-height: 26px;
}

.welcome {
    font-size: 21px;
    font-weight: bold;
}

.features-list {
    list-style: none;    
    margin: 0;
    padding: 0;
}
   
.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.feature-special {
    background-color: var(--blue-light);
    color:var(--white-blocks);
}

.entertainments-list {
    list-style: none;
    background-color:var(--white-blocks);
    color:var(--black-text);
    margin: 0;
    padding: 0;
}

.entertainment-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.modal {
    color: var(--black-text);
    background-color: var(--white-blocks);  
  }

.modal h2 {
    font-size: 30px;
    line-height: 24px;    
}


.modal-open {
    background-color: var(--grey-button);
    color: var(--white-blocks);

}

.modal-submit {
    background-color: var(--blue-light);
    color: var(--white-blocks);
}

.button {
    font-size: 21px;
    line-height: 26px;
    box-shadow: none;
    border: none; 
    outline: none; 
    text-transform: uppercase;
    font-weight: bold;
}

.modal-open:hover {
    color: var(--white-blocks);
    background-color: var(--blue-hover);
}

.modal-open:focus {
    color: var(--white-blocks);
    background-color: var(--blue-focus);
}

.modal-submit:hover {
    color: var(--white-blocks);
    background-color: var(--grey-button-hover);
}

.modal-submit:focus {
    color: var(--white-blocks);
    background-color: var(--grey-button-focus);
}

.form-background {
    background-color: var(--grey-form);
}

.main-footer {
    background-color: var(--white-blocks);
    color: var(--black-text);   
}

.find-hotel-form {
    font-weight: bold;
}

.footer-info {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

 
.footer-phone:hover {
    color: var(--blue-light);
}

    

.footer-phone:focus {
    color: var(--grey-button); 
}
    
  
.footer-social .social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
   
  
.social-button {
    color:var(--white-blocks);
    background-color: var(--blue-light);
}
  
.social-button:hover {
    background-color: var(--blue-hover);
}

.social-button:focus {
    background-color: var(--blue-focus);
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    color:var(--black-text);
}

.footer-copyright .button:hover {
    color:var(--blue-light);
}

.footer-copyright .button:focus {
    color:var(--grey-footer-focus);  
}

/* Разметка каталога */

.catalog-filter {
    background-image: url(img/catalog-imgs/background-fitler.jpg);
    background-color: var(--blue-hover);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-blocks);
}

.catalog-filter-name {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.infrastructure-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accommodation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-price {
    background-color: rgba(0,0,0,0);
    color: var(--white-blocks)
}

.catalog-filter-button {
    background-color: rgba(0,0,0,0);
    color: var(--white-blocks)
}

.catalog-filter-button:hover {
    background-color: var(--white-blocks);
    color: var(--black-text);
}

.catalog-results {
    background-color: var(--white-blocks);
}

.results-sorting {
    font-size: 12px;
    line-height: 12px;
}

.results-sorting-list {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.results-sorting-item {
    font-size: 12px;
    line-height: 12px;
    color: var(--black-text);
    opacity: 0.3;
}

.results-sorting-item:hover {
    color: var(--blue-light);
}

.results-sorting-item:focus {
    color:var(--grey-footer-focus);  
}

.results-sorting-item:active {
    color:var(--blue-light);  
}

.results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result-name {
    font-size: 21px;
    line-height: 26px;
    color: var(--black-text);
    font-weight: bold;
}

.more-info-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--white-blocks);
    background-color: var(--blue-light);
}

.more-info-button:hover {
    color: var(--white-blocks);
    background-color: var(--blue-hover);
}

.more-info-button:focus {
    color: var(--white-blocks);
    background-color: var(--blue-focus);
}

.book-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--white-blocks);
    background-color: var(--grey-button);
}

.book-button:hover {
    color: var(--white-blocks);
    background-color: var(--grey-button-hover);
}

.book-button:focus {
    color: var(--white-blocks);
    background-color: var(--grey-button-focus);
}

.rating {
    background-color: var(--grey-form);
}